@font-face {
  font-family: 'GangwonEduAll';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff') format('woff');
  font-display: swap;
}

html, body {
  padding: 0;
  margin: 0;
}
body, input, button, select, textarea {
  font-family: 'GangwonEduAll', sans-serif;
}
body {
  height: 100%;
  background-color: #94B49F;
  overflow-x: hidden;

  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

/* 이미지 우클릭 방지 */
img {
  pointer-events: none;
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
