@font-face {
  font-family: 'GangwonEduAll';
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff') format('woff');
  font-display: swap;
}
/* @font-face {
  font-family: 'Dovemayo-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/Dovemayo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} */

html, body {
  padding: 0;
  margin: 0;
}
body, input, button, select, textarea {
  font-family: 'GangwonEduAll', sans-serif;
  /* font-family: 'Dovemayo-Medium', sans-serif; */
  /* font-family: 'Sunflower', sans-serif; */
}
body {
  height: 100%;
  background-color: #94B49F;
  overflow-x: hidden;
}

/* #__next {
  height: 100%;
  background-color: #94B49F;
  overflow-x: hidden;
} */

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
